<section id="blog" class="blog-section">
    <div class="container">
        <div class="row justify-start">
            <div class="col-lg-6 col-md-10">
                <h2>Cursos</h2>
            </div>
        </div>
        <div class="row justify-start">
            <ng-container *ngFor="let post of courses.data">
                <div class="col-lg-4 col-md-8 col-sm-10">
                    <div class="single-blog">
                        <div class="blog-header" *ngIf="post.featured_image">
                            <img
                                class="img-fluid"
                                loading="lazy"
                                [src]="post.featured_image"
                                [alt]="post.featured_image_alt"
                            >
                        </div>
                        <div class="blog-body">
                            <h5 class="package-name"><a href="#">{{ post.title }}</a></h5>
                            <table class="table align-middle w-100 mt-3">
                                <tbody>
                                  <tr class="py-3">
                                    <td style="width:35%">
                                      <div class="d-flex align-items-center">
                                        <mat-icon class="me-2" fontIcon="co_present"></mat-icon>
                                        <span>Docente :</span>
                                      </div>
                                    </td>
                                    <td style="width:65%">{{ post.author.last_name + ', ' + post.author.first_name }}</td>
                                  </tr>
                                  <tr class="py-3">
                                    <td style="width:35%">
                                      <div class="d-flex align-items-center">
                                        <mat-icon class="me-2" fontIcon="calendar_month"></mat-icon>
                                        <span>Inicio :</span>
                                      </div>
                                    </td>
                                    <td style="width:65%">{{ post.startdate | date:'dd/MM/yyyy' }} </td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="blog-footer">
                            <a (click)="onClick(post.slug)" class="main-btn btn-hover">Ver curso</a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>
